<!DOCTYPE html>
<html>
<head>
    <title>Apprango Login</title>
</head>
<body>
    <h1>Login Here</h1>
    <form id="login_frm" method="post" action="{% url 'apprango:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        Username: <input type="text" name="uname" id="uname" />
        <br />
        Password: <input type="password" name="passw" id="passw" />
        <br />
        <input type="submit" name="submit" value="Login" />
    </form>
</body>
</html>